*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0b0b;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

ul a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: #fff;
}

.cursor {
    width: 2.8rem;
    height: 2.8rem;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    mix-blend-mode: difference;
}